<div class="xblock xblock-student_view xblock-student_view-problem xmodule_display xmodule_CapaModule xblock-initialized">


<div class="pcoverlay" id="pcoverlay" style="display:none;"></div>

<div class="pcbox"  id="pcbox">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Отправить задание на проверку?</h4>
        </div>
        <div class="modal-body">
            <div style="text-align: right;">
                <button class="show-hide-background">Скрыть фон</button>
            </div>
        <p>Ваша картинка:</p>
            <div style="position: relative;">
                <img id="background_check_picture"  src=""></img>
                <img id="student_check_picture"  src="{{empty_image}}"></img>
            </div>
        </div>
        <div class="modal-footer">
            <button id="close_modal_button">Закрыть</button>
            <button id="send_answer">Отправить</button>
        </div>
    </div>
</div>

    <div class="problem">

        {% if question != '' and question != "None" %}
            <div id="question">{{question|safe}}</div>
        {% endif %}

     <div class="problem-progress">
        {% if points == 0 or points %}
            <me-span class="weight"> Набрано баллов: <me-span class="points">{{points}}</me-span></me-span>
        {% else %}
            <me-span class="weight">(Максимальное кoличество баллов: {{weight}})</me-span>
        {% endif %}
    </div>   

<div id="workzone">
       <img class="ge_taskImg" src="{{background_image}}" style="display:none"/>
        <!--<div class="loader"></div>-->
        <div class='leftMenu'>

            <div class="ge_panel">
                <button class="ge_gridMode">Убрать сетку</button>
                
            </div>
        </div>
        <div class='buttons d2d'>
            <div rel="benttool" title="Ломаная" class="tool"><img src="{{pic_bent}}"/></div>
            <div rel="linetool" title="Линия" class="tool"><img src="{{pic_line}}"/></div>
            <div rel="walltool" title="Прямоугольник" class="tool"><img src="{{pic_rect}}"/></div>
            <div rel="beziertool" title="Кривая Безье" class="tool"><img src="{{pic_BezierCurve}}"/></div>
            <!--<div id="circle-tool" title="Окружность"><img src="/static/circle.png"/></div>-->
            <div rel="resettool" title="Очистить"><img style="height: 38px;" src="{{pic_eraser}}"/></div>
            <div rel="backtool" title="Отменить"><img style="height: 38px;" src='{{pic_back}}'/></div>
        </div>
        <div class='buttons lines-types' style="display:none">
            <div rel="mainline" title="Основная линия" class="tool"><img src="{{main_line}}"/></div>
            <div rel="dashdotline" title="Штрихпунктирная линия" class="tool"><img src="{{dash_dot_line}}"/></div>
            <div rel="dashedline" title="Штриховая линия" class="tool"><img src="{{dashed_line}}"/></div>
            <div rel="thinline" title="Тонкая линия" class="tool"><img src="{{thin_line}}"/></div>
        </div>
        <div class="designer-block">
            <div class='designer' id="ge_canvas">
                <table class="controls ge_move">
                    <tr>
                        <td></td>
                        <td class="act up"><i class="fa fa-arrow-up"></i></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="act left"><i class="fa fa-arrow-left"></i></td>
                        <td class="act zoom-in"><i class="fa fa-plus-circle"></i></td>
                        <td rowspan="2" class="act right"><i class="fa fa-arrow-right"></i></td>
                    </tr>
                    <tr>
                        <td class="act zoom-out"><i class="fa fa-minus-circle"></i></td>                    
                    </tr>
                    <tr>
                        <td></td>
                        <td class="act down"><i class="fa fa-arrow-down"></i></td>
                        <td></td>
                    </tr>
                </table>
                <div class="ge_zoom controls" onclick="enterFullscreen('workzone')"><i class="fa fa-expand"></i></div>
            </div>
            <div class="ge_drawerButtons">
                <button class="ge_drawLayers active">Режим эскиза</button>
                <button class="ge_drawBottomLine">Режим чертежа</button>
               <!-- <button class="ge_saveResult" style="display:none">Сохранить результат</button> -->
            </div>
        </div>
    </div>
  </div>   
        <div class="action">
                {% if past_due and answer_opportunity %}
                    <button class="check Check" data-checking="Проверка..." data-value="Проверить/последняя попытка"><span class="check-label">Проверить</span><span class="sr"> ваш ответ</span></button>
                    <div class="submission_feedback" aria-live="polite">
                    {% if max_attempts %}
                        Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} 
                    {% endif %}
                    </div>
                {% elif past_due %}
                    <div class="submission_feedback" aria-live="polite">
                        Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} 
                    </div>
                {% elif answer_opportunity %}
                    <div class="submission_feedback" aria-live="polite">
                        Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} <br />Время для ответа истекло
                    </div>
                {% endif %}

        </div>

    </div>
