
<div class="xblock xblock-student_view xblock-student_view-problem xmodule_display xmodule_CapaModule xblock-initialized">
    <div class="problem">
        {% if question != '' %}
            <p id="question">{{question}}</p>
        {% endif %}

     <div class="problem-progress">
        {% if points == 0 or points %}
            <me-span class="weight"> Набрано баллов: <me-span class="points">{{points}}</me-span></me-span>
        {% else %}
            <me-span class="weight">(Максимальное кoличество баллов: {{weight}})</me-span>
        {% endif %}
    </div>   


        <script>
            window.EmptyImage = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';
            window.minimimumOpacity = 0.1;
            window.headerHeight = 100;
            window.Config = {
                Wall: { height: 2.5 * 100, width: 2 }
            };
            var formatter = new Formatting.NumberFormatter(new Formatting.NumberFormatInfo());
            function onWindowResize() {
                $('.leftMenu').css("height", window.headerHeight);
                $('.leftMenu .logo').css("height", window.headerHeight);
                $('.leftMenu .photo img').css("height", window.headerHeight*0.70);
                $('.leftMenu .button').css("padding-top", window.headerHeight / 3);
                $('.leftMenu .button').css("height", 2 * window.headerHeight / 3);
                $('.buttons').css("top", window.headerHeight);
                $('.designer-block').css("margin-left", $('.buttons').width());
                $('.designer-block').height($('html').height() - window.headerHeight);
                $('.designer-block').css("margin-top", window.headerHeight);
                $('.designer-block').css("margin-right", 30);
                $('.buttons').height($('html').height() - 90);
                $('.propertyPanel').height($('html').height() - window.headerHeight - 3);
                if (typeof World !== "undefined") {
                    if (typeof World.Drawer2D !== "undefined") {
                        World.Drawer2D.canvas.height = $('.designer-block').height() - 120;
                        World.Drawer2D.canvas.width = $('.designer').width();
                    }
                }
            }
            var Meths = {
                resettool: function () {
                    window.World.Objects.Walls = [];
                    window.World.Objects.Beziers = [];
                    window.World.Objects.Normals = [];
                    return false;
                },
                backtool: function () {
                    window.World.Crafter.KeyDown(27);
                    return false;
                },
                benttool: function () {
                    if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetBentMode();
                },
                linetool: function() {
                    if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetLineMode();
                },
                beziertool: function() {
                    if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetBezierMode();
                },
                walltool: function () {
                    if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetWallMode();
                },
            };
        </script>

<div id="workzone">
        <img class="ge_taskImg" src="http://img1.joyreactor.cc/pics/post/full/anon-%D0%9A%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0-2191131.jpeg" style="display:none"/>
        <!--<div class="loader"></div>-->
        <div class='leftMenu'>
            <a class='logo'><img src="img/logo.png"/></a>
            <div class="ge_panel">
                <button class="ge_gridMode">Убрать сетку</button>
            </div>
            <div class="ge_task">Задание</div>
        </div>
        <div class='buttons d2d'>
            <div rel="benttool" title="Ломаная" class="tool"><img src="img/bent.png"/></div>
            <div rel="linetool" title="Линия" class="tool"><img src="img/line.png"/></div>
            <div rel="walltool" title="Прямоугольник" class="tool"><img src="img/rect.png"/></div>
            <div rel="beziertool" title="Кривая Безье" class="tool"><img src="img/BezierCurve.png"/></div>
            <!--<div id="circle-tool" title="Окружность"><img src="img/circle.png"/></div>-->
            <div rel="resettool" title="Очистить"><img src="img/eraser.png"/></div>
            <div rel="backtool" title="Отменить"><img src="img/back.png"/></div>
        </div>
        <div class="designer-block">
            <div class='designer'>
                <table class="controls">
                    <tr>
                        <td></td>
                        <td class="act up"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="act left"></td>
                        <td class="act zoom-in"></td>
                        <td rowspan="2" class="act right"></td>
                    </tr>
                    <tr>
                        <td class="act zoom-out"></td>                    
                    </tr>
                    <tr>
                        <td></td>
                        <td class="act down"></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="ge_drawerButtons">
                <button class="ge_drawLayers microButton active">Режим эскиза</button>
                <button class="ge_drawBottomLine microButton">Режим чертежа</button>
                <button class="ge_saveResult microButton" style="display:none">Сохранить результат</button>
            </div>
        </div>
        <div class="modal fade ge_errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Ваше задание</h4>
                    </div>
                    <div class="modal-body">
                        <div class="ge_errormessage"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">ОК</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>   
 <script>
        $(document).ready(function () {
            window.quality = 30;
            var createDef = function () {
                window.World = new WorldClass($('.designer'));
                window.minimimumOpacity = 0.1;
                onWindowResize();
                window.World.Crafter = new Move2DCrafter();
                $('.buttons.d2d').css('display', 'block');
                window.World.SetMode(window.Modes.two);
                window.World.Drawer2D.setImage($('img.ge_taskImg').get(0));
            };
            createDef();
            $('.designer')[0].oncontextmenu = function () { return false; };
            window.addEventListener('resize', onWindowResize, false);
            window.World.Crafter = new WallCrafter();
            onWindowResize();
            $('[rel=benttool]').addClass('active');
            $('.designer .controls').mousedown(function (event) {
                if (event.stopPropagation)
                    event.stopPropagation();
            });
            $('.designer .controls .left').mousedown(function (e) {
                window.World.Drawer.MoveLeft();
            });
            $('.designer .controls .right').mousedown(function (e) {
                window.World.Drawer.MoveRight();
            });
            $('.designer .controls .up').mousedown(function (e) {
                window.World.Drawer.MoveUp();
            });
            $('.designer .controls .down').mousedown(function (e) {
                window.World.Drawer.MoveBottom();
            });
            $('.designer .controls .zoom-in').mousedown(function (e) {
                window.World.Drawer.ScaleDown();
            });
            $('.designer .controls .zoom-out').mousedown(function (e) {
                window.World.Drawer.ScaleUp();
            });
            $('.buttons div').click(function () {
                if ($(this).hasClass('tool')) {
                    $('.buttons div').removeClass('active');
                    $(this).addClass('active');
                }
                var tool = $(this).attr('rel');
                Meths[tool]();
            });
            $('.ge_gridMode').click(function () {
                var gridMode = window.World.Crafter.GetGridMode();
                $(this).text(!gridMode?"Убрать сетку":"Показать сетку");
                if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetGridMode(!gridMode);
            });
            $('#workzone').on('click', '.ge_drawerButtons .ge_drawBottomLine', function () {
                $('.ge_drawerButtons .active').removeClass('active');
                $(this).addClass('active');
                $('.ge_drawerButtons .ge_saveResult').show();
                if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetPlotMode(true);
            });
            $('#workzone').on('click', '.ge_drawerButtons .ge_drawLayers', function () {
                $('.ge_drawerButtons .active').removeClass('active');
                $(this).addClass('active');
                $('.ge_drawerButtons .ge_saveResult').hide();
                if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetPlotMode(false);
            });
            $('#workzone').on('click', '.ge_drawerButtons .ge_saveResult', function () {
                if (window.World.Crafter instanceof WallCrafter) window.World.Crafter.SetResultMode(true);
                window.World.Draw();
                $('.ge_gridMode').text("Убрать сетку");
            });
            $('.ge_task').click(function () {
                $('.ge_errorModal .modal-title').text('Ваше задание');
                $('.ge_errorModal').modal('show');
            });
        });
        var getResult = function() {
            return window.World.SavedResult;
        };
    </script>




        <div class="action">
                {% if past_due and answer_opportunity %}
                    <button class="check Check" data-checking="Проверка..." data-value="Проверить/последняя попытка"><span class="check-label">Проверить</span><span class="sr"> ваш ответ</span></button>
                    <div class="submission_feedback" aria-live="polite">
                    {% if max_attempts %}
                        Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} 
                    {% endif %}
                    </div>
                {% elif past_due %}
                    <div class="submission_feedback" aria-live="polite">
                        Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} 
                    </div>
                {% elif answer_opportunity %}
                    <div class="submission_feedback" aria-live="polite">
                        Использовано попыток: <me-span class="attempts">{{attempts}}</me-span> из {{max_attempts}} <br />Время для ответа истекло
                    </div>
                {% endif %}

        </div>
    </div>

 </div>