#workzone {
	background-color: #bcbfc1;
	margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
    font-family: "dinreg";
	color: #525b66;
    overflow: hidden;
}
.button {
    font-size:1.1em;
}
.leftMenu .ge_task {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 30px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #525b66;
  font-size: 20px;
  background: #CBBFA8;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
}

.leftMenu .ge_task:hover {
  background: #CBBFA8;
  background-image: -webkit-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: -moz-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: -ms-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: -o-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: linear-gradient(to bottom, #CBBFA8, #c29e5b);
  text-decoration: none;
  color: #000;
}
.leftMenu img {
    height: 100px;
}
.leftMenu .ge_panel {
    position: relative;
    float: left;
    height: 100px;
}
.ge_panel button {
    margin-top: 10%;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    font-family: Arial;
    color: #525b66;
    font-size: 16px;
    background: #CBBFA8;
    padding: 8px 20px 8px 20px;
    outline: none;
    width: 160px;
}
.ge_panel button:hover {
    background: #CBBFA8;
  background-image: -webkit-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: -moz-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: -ms-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: -o-linear-gradient(top, #CBBFA8, #c29e5b);
  background-image: linear-gradient(to bottom, #CBBFA8, #c29e5b);
  color: #000;
}
.buttons div {
    width: 70px;
    height: 70px;
    margin: 10px 15px;
}
.buttons div:hover,.buttons div.active {
    cursor: pointer;
}
.buttons div:hover img,.buttons div.active img{
    margin-left: -2px;
    margin-top: -2px;
    border: 2px solid #ED6C02;
}
.buttons div img {
    width: 100%;
    border-radius: 50%;
}
div.designer {
    position: relative;
	background-color: #fafafa;
    border: 3px solid #676767;
}
.designer-block {
    padding-left: 30px;
    padding-top: 30px;
    background-color: #bcbfc1;
}
div.designer > canvas {
	overflow:hidden;
}
div {
	position:relative;
}
div[role=row] {
    float: left;
    position: relative;
    clear: both;
}
.leftMenu {
	position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    clear: both;
    background-color: #dcdfe0;
    border-bottom: 5px solid #ED6C02;
    z-index: 1;
}
.leftMenu .logo {
    background-color: #dcdfe0;
    margin-left: 25px;
    margin-right: 15px;
}
.leftMenu > * {
    text-align: center;
    float: left;
    position: relative;
}
.leftMenu > div.button {
    cursor: pointer;
    width: 100px;
}
.leftMenu .help-react.act, .leftMenu > div:hover, .leftMenu > div.activ {
    background-color: transparent;
    cursor: pointer;
}
.buttons {
    position: absolute;
    left: 0;
    width: 100px;
    padding-top: 5px;
    z-index: 1;
    border-right: 5px solid #ED6C02;
    background-color: #dcdfe0;
}
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #f0f0f0;
    background-image: url('/asset-v1:itoo+01+2015+type@asset+block@loading.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.btn:hover {
    background-color: #cccccc;
}
.btn:hover:active {
    background-color: #dddddd;
}
.btn {
    font-size: 16px;
    /* float: left; */
    padding: 0 10px;
    border: 1px solid #656565;
    background-color: #ffffff;
    clear: both;
    width: 70px;
    text-align: center;
    /* margin: 5px 40px; */
}

.designer .controls td.act.left {
    background-image: url('/asset-v1:itoo+01+2015+type@asset+block@left.png');
}
.designer .controls td.act.right {
    background-image: url('/asset-v1:itoo+01+2015+type@asset+block@right.png');
}
.designer .controls td.act.up {
    height: 40px;
    background-image: url('/asset-v1:itoo+01+2015+type@asset+block@up.png');
}
.designer .controls td.act.zoom-in {
    height: 20px;
    background-image: url('/asset-v1:itoo+01+2015+type@asset+block@zoom-in.png');
}
.designer .controls td.act.zoom-out {
    height: 20px;
    background-image: url('/asset-v1:itoo+01+2015+type@asset+block@zoom-out.png');
}
.designer .controls td.act.down {
    height: 40px;
    background-image: url('/asset-v1:itoo+01+2015+type@asset+block@down.png');
}
.designer .controls td.act {
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.designer .controls td{
    width: 40px;
    text-align: center;
}
.designer .controls {
    position: absolute;
    background: url('/asset-v1:itoo+01+2015+type@asset+block@circle.png') center no-repeat;
    opacity: 0.5;
    transition: opacity ease 0.5s;
    -moz-transition: opacity ease 0.5s;
    -webkit-transition: opacity ease 0.5s;
    -o-transition: opacity ease 0.5s;
    -ie-transition: opacity ease 0.5s;
    bottom: 0;
    right: 0;
}
.designer .controls:hover {
    opacity: 1;
}

.designer:hover {
	
}


.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -12px;
}
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
	0%, 100% {-o-transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
.close .sr-only {
    display: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
        overflow: visible;
}
.bs-example {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    background-color: #fafafa;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
}
.microButton {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    color: #525b66;
    padding: 5px 10px;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #bec0c1;
    background-color: #429cb0;
    background: rgb(245,245,245); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 49%, rgba(232,233,234,1) 52%, rgba(232,233,234,1) 52%, rgba(232,233,234,1) 53%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(245,245,245,1)), color-stop(52%,rgba(232,233,234,1)), color-stop(52%,rgba(232,233,234,1)), color-stop(53%,rgba(232,233,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.microButton:hover, .microButton.active {
    color: #525b66;
    border: 2px double rgb(146, 148, 150);
    background-color: #429cb0;
    background: rgb(245,245,245); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 49%, rgba(232,233,234,1) 52%, rgba(232,233,234,1) 52%, rgba(232,233,234,1) 53%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(245,245,245,1)), color-stop(52%,rgba(232,233,234,1)), color-stop(52%,rgba(232,233,234,1)), color-stop(53%,rgba(232,233,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,245,245,1) 49%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 52%,rgba(232,233,234,1) 53%); 
    box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
} 
 .ge_drawerButtons {
     text-align: center;
 }
.ge_drawerButtons .microButton {
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
}
 