.controls .left{
	float: none !important;
}

.controls .right{
	float: none !important;
}

.pcoverlay{
	background: rgba(0, 0, 0, 0.78) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAABGdBTUEAALGPC/xhBQAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAACVJREFUKFNjtLe3b2AgFYA0kYoZSNUAdtmoJkhIjwYENMmRFRAABtDShPYvM2QAAAAASUVORK5CYII=') repeat top;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:1001;
}

.pcbox{
	position:fixed;
	top:-100%;
	left:20%;
	right:20%;
	color:#7F7F7F;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:1001;
	}