/*костыл*/

/*[class*="view-"] .modal-window .editor-with-buttons.wrapper-comp-settings .list-input.settings-list {
  height: 1070px;
}*/

 /*конец*/

[class*="view-"] .modal-window .editor-with-buttons.wrapper-comp-settings .list-input.settings-list {
    height: inherit;
}
[class*="view-"] .modal-lg.modal-editor .modal-content{
    height: 750px;
}

.controls .left{
    float: none !important;
}

.controls .right{
    float: none !important;
}
.action-tabs{
    margin-left: 10px;
    display: inline-block;
    padding: 3px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.action-tabs:hover{
    background: #d6d6d6 none repeat scroll 0% 0%;
    color: #4C4C4C;
}

.is-active-tabs{
    background: #888 none repeat scroll 0% 0%;
    color: white;

}