.controls .left{
	float: none !important;
}

.controls .right{
	float: none !important;
}

#pc-overlay{
	background: rgba(0, 0, 0, 0.78) url(http://bshk.ru/test-iq/images/overlay.png) repeat top;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:100;
}

.box{
	position:fixed;
	top:-300px;
	left:20%;
	right:20%;
	color:#7F7F7F;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:101;
	}