.controls .left{
	float: none !important;
}

.controls .right{
	float: none !important;
}

.pcoverlay{
	background: rgba(0, 0, 0, 0.78) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAABGdBTUEAALGPC/xhBQAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAACVJREFUKFNjtLe3b2AgFYA0kYoZSNUAdtmoJkhIjwYENMmRFRAABtDShPYvM2QAAAAASUVORK5CYII=') repeat top;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	z-index:1001;
	display:none;
}

.pcbox{
	position:fixed;
	top: 10%;
	left:20%;
	right:20%;
	color:#7F7F7F;
	-moz-box-shadow: 0 1px 5px #333;
	-webkit-box-shadow: 0 1px 5px #333;
	z-index:1001;
	display:none;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-header {
    padding: 15px;
    min-height: 16.42857143px;
}


.modal-body {
    padding-left: 16px;
    position: relative;
    padding-right: 16px;
}


.modal-footer {
     margin-top: 15px;
    padding: 5px 20px 20px;
    text-align: right;
}


#student_check_picture{
    border: 1px solid #e6e6e6;
}

#background_check_picture{
    position: absolute;
    opacity: 0.1;
    border: 1px solid #e6e6e6;
}

 .ge_move {
  right: -25px;
 }

 .tools-drag-handle{
    border-left: 1px solid #B9B2B2;
    position: absolute; 
    right: 4px; 
    width: 30px; 
    height: 50px;
    z-index: 1040;
    cursor: move;
 }

 .all-tools {
    width: 500px;
    z-index: 1040;
}